# Copier ce fichier en .env et compléter les valeurs

DJANGO_SECRET_KEY=change-moi-avec-une-vraie-cle-secrete-longue
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=gestion_dossiers_victimes
DB_USER=ibrahima
DB_PASSWORD=8900
DB_HOST=mysql
DB_PORT=3306

KEYCLOAK_URL=http://cima_keycloak:8080
KEYCLOAK_REALM=cima

# Créer un NOUVEAU client Keycloak "cima-django" (confidentiel, Authorization Code)
OIDC_RP_CLIENT_ID=cima-django
OIDC_RP_CLIENT_SECRET=A_COMPLETER_APRES_CREATION_DU_CLIENT

KC_ADMIN_CLIENT_ID=cima-service
KC_ADMIN_CLIENT_SECRET=CPi08XZpUHZ3TAuFtWRMGNPDZJD0luMB
